<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Static Website Template</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="./index.css">
    </head>

    <body>
        <div>
            <header class="dark-image-bg">
                <div id="header-up" class="flex-container w-100 h-100">
                    <div class="flex-item flex-item-center">
                        <div class="white text-center" id="header-main-text">
                            <h1>We're <span class="yellow">Fusion</span>, We Build<br>Things for Humans</h1>
                        </div>
                        <br/>
                        <div class="text-center"><p class="white">DESING <span class="yellow">|</span> PORTFOLIO <span class="yellow">|</span> BRANDING</p></div>
                    </div>
                </div>
                <div class="flex-item flex-item-end w-100 text-center white mb-4"><span class="yellow">&#9660;</span></div>
                <div class="row text-light text-center pt-4 mt-2">
                    <div class="col-md-6">
                        <p class="yellow">
                            <span id="facebook-link">F</span>
                        </p>
                    </div>
                    <div class="col-md-6">GET IN TOUCH 	<span class="yellow">&#9660;</span></div>
                </div>
            </header>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </body>
</html>