@import 'variables.scss';

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    overflow-x: hidden;
}

.dark-image-bg {
    background: url('images/man-in-dark.jpg');
}

header {
    width: 100%;
    min-height: 650px;


    #header-main-text {
        border: 2px solid whitesmoke;
        color: whitesmoke;
        padding: 3em;
        letter-spacing: 2px;
    }

    #header-up {
        min-height: 500px;
    }
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-item-end {
    align-self: flex-end;
}

.flex-item {
    flex: 1;
}

.flex-item-center {
    flex: none;
}

#facebook-link {
    border: 3px solid yellow;
    border-radius: 100%;
    max-width: 50px;
    padding: 5px 10px;
}